.trip-list{
    width: 480px;
    margin: 60px auto;
}
.trip-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.trip-list ul li {
    padding: 10px;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 20px 0;
}